@model IEnumerable<MVCReviewSiteProject.Models.Reviews>
@{
    ViewBag.Title = "Index";
}
<center><h2>Current Gadget Reviews</h2></center>

<p>
    @Html.ActionLink("Review your Product", "Create")
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-8 col-md-6">
            <div class="thumbnail">
            <div class="caption">
                    <h2>@Html.DisplayFor(modelItem => item.GadgetReviewed)</h2>
                    <h3>by @Html.DisplayFor(modelItem => item.ReviewerName)</h3>
           @*Need to figure out how to put star ratings in*@    
                <p> 
                        @Html.ActionLink("Full Review", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    </p>
                </div>
            </div>
        </div>
    }
</div>